.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/.bin/**
node_modules/.cache/**
node_modules/@types/**
node_modules/@eslint/**
node_modules/prettier/**
node_modules/typescript/**
node_modules/tsutils/**
node_modules/tslib/**
node_modules/ts-node/**
node_modules/eslint/**
node_modules/eslint-*/
node_modules/@typescript-eslint/**
node_modules/@babel/**
node_modules/@nodelib/**
node_modules/@jridgewell/**
node_modules/diff/**
node_modules/json-schema-traverse/**
node_modules/ajv/**
node_modules/ajv-keywords/**
node_modules/uri-js/**
node_modules/brace-expansion/**
node_modules/balanced-match/**
node_modules/minimatch/**
node_modules/concat-map/**
node_modules/fast-deep-equal/**
node_modules/fast-json-stable-stringify/**
node_modules/ms/**
node_modules/has-flag/**
node_modules/supports-color/**
node_modules/color-convert/**
node_modules/color-name/**
node_modules/escape-string-regexp/**
node_modules/argparse/**
node_modules/js-yaml/**
node_modules/glob/**
node_modules/graceful-fs/**
node_modules/inherits/**
node_modules/once/**
node_modules/wrappy/**
node_modules/fs.realpath/**
node_modules/path-is-absolute/**
node_modules/rimraf/**
node_modules/semver/**
node_modules/source-map/**
node_modules/source-map-js/**
node_modules/lru-cache/**
node_modules/minimist/**
node_modules/commander/**
node_modules/ignore/**
node_modules/micromatch/**
node_modules/picomatch/**
node_modules/to-regex-range/**
node_modules/is-number/**
node_modules/fill-range/**
node_modules/braces/**
node_modules/is-extglob/**
node_modules/is-glob/**
node_modules/array-union/**
node_modules/array-iterate/**
node_modules/path-type/**
node_modules/dir-glob/**
node_modules/fast-glob/**
node_modules/merge2/**
node_modules/reusify/**
node_modules/queue-microtask/**
node_modules/run-parallel/**
node_modules/ms/**
node_modules/node-pty/prebuilds/**
node_modules/node-pty/third_party/**
node_modules/node-pty/deps/winpty/**
node_modules/node-pty/build/Release/*.pdb
node_modules/node-pty/build/Makefile
node_modules/node-pty/build/binding.Makefile
node_modules/node-pty/build/config.gypi
node_modules/node-pty/build/pty.target.mk
